*{
    margin:0;
}
.head{
    background-color: #93B5C9;
    height: 200px;
    width: 150%;
}
.head2{
    background-color: #AB2849;
    height: 250px;
    width: 150%;
    margin-bottom: 30px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
}

.caja {
    display: inline-block;
    width: 80%;
    height: 150px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 30px;
  }

  .caja2 {
    display: inline-block;
    width: 39%;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 30px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
  }

  .caja3 {
    display: inline-block;
    width: 39%;
    height: 150px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
  }

  
  .foot {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 150px;
    background-color: #AB2849;
  }

 