*{
    margin:0;
}
.head{
    background-color: #93B5C9;
    height: 200px;
    width: 150%;
}
.head2{
    background-color: #AB2849;
    height: 250px;
    width: 150%;
    margin-bottom: 30px;
}


.caja1 {
    margin-left: 10%;
    width: 80%;
    height: 150px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 30px;
    float: left;
  }
.caja2 {
    margin-left: 10%;
    margin-right: 5px;
    width: 39.1%;
    height: 150px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 30px;
    float: left;
  }
.caja3 {
    width: 39.1%;
    height: 150px;
    background-color: #AB2849;
    padding: 10px;
    border: solid 1px;
    margin-bottom: 30px;
    float: left;
  }
   
  .foot {
    clear: left;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #AB2849;
    margin-bottom: 10px;
  }