*{
    margin:0;
}

.flex-container{
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 200px;
}
.flex-container2{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 600px;
}
.flex-container3{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 200px;
}
.flex-container4{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 600px;
}
.circulo-verde{
  margin-top: 5px;
  margin-left: 10%;
  background-color: #7ED957;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.text-header1{
  margin-left: 30px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 3rem;
}
.text-header2{
  margin-top: 15px;
  margin-left: 500px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 1.6rem;
}
.caja-grande{
  width: 100%;
  height: 600px;
}
.img-banner{
  object-fit: cover;
  width:100%;
  height:100%;
}
.caja-verde1{
  position: absolute;
  margin-top: 106px;
  margin-left: 20px;
  width: 36.5%;
  height: 80px;
  background-color: #00BF63;
}
.caja-verde2{
  position: absolute;
  margin-top: 194px;
  margin-left: 34px;
  width: 61%;
  height: 80px;
  background-color: #00BF63;
}
.caja-verde3{
  position: absolute;
  margin-top: 279px;
  margin-left: 34px;
  width: 61%;
  height: 80px;
  background-color: #00BF63;
}
.text-verde{
  margin-top: 5px;
  margin-left: 160px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 3.5rem;
  color: white;
}
.caja-negra1{
  position: absolute;
  margin-top: 424px;
  margin-left: 34px;
  width: 58%;
  height: 35px;
  background-color: black;
}
.caja-negra2{
  position: absolute;
  margin-top: 464px;
  margin-left: 56px;
  width: 42%;
  height: 35px;
  background-color: black;
}
.text-negro{
  margin-top: 5px;
  margin-left: 160px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 1.5rem;
  color: white;
}
.text-titulo{
  margin-top: 40px;
  margin-left: 200px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 2.5rem;
}
.text-medium{
  margin-top: 15px;
  margin-left: 200px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 1.6rem;
}
.caja-imagen1{
  display: flex;
  flex-flow: column wrap;
  margin-left: 200px;
  width: 20%;
  height: 600px;
}
.caja-imagen2{
  margin-left: 150px;
  width: 20%;
  height: 600px;
}
.caja-imagen3{
  margin-left: 150px;
  width: 20%;
  height: 600px;
}
.img-caja{
  object-fit: cover;
  width:100%;
  height:60%;
}
.img-caja1{
  margin-top: 30px;
  object-fit: cover;
  width:100%;
  height:50%;
}
.text-subtitulo{
  font-family: 'Arimo';font-size: 22px;
  font-size: 1.8rem;
}
.text-subtitulo1{
  margin-top: 30px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 1.8rem;
}
.text-small{
  margin-top: 15px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 1rem;
}
i{
  margin-right: 5px;
}

.foot{
  display: flex;
  flex-flow: row wrap;
    margin: auto;
    margin-top: 10px;
    background-color: #00BF63; 
    width: 90%;
    height: 100px;
    padding: 10px;
    justify-content: center;
}
.text-footer{
  margin-top: 25px;
  margin-right: 30 px;
  font-family: 'Arimo';font-size: 22px;
  font-size: 2rem;
  color: white;
}